* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}

a {
  color: rgb(33, 119, 218);
  text-decoration: none;
}

nav {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  background-color: black;
  padding: 10px 30px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-end;
  margin-top: 20%;
}

nav ul li {
  padding-bottom: 20px;
}

nav h1 {
  color: lightblue;
  text-align: center;
}

#news-list-container {
  color: black;
  font-size: 3em;

}